body {
    width: 100%;
    height: 100%;
    font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial;
}

.container {
    width: 100%;
    height: 100%;
    margin-top: 10%;
}

.images {
    width: 256px;
    height: 600px;
    right: 60%;
    position: absolute;
}

.logo {
    width: 256px;
    height: 256px;
    position: absolute;
    background-image: url('onesquare.png');
}

.download_icon {
    width: 100%;
    height: 98px;
    position: relative;
    top: 256px;
    background-image: url('available_app_store.png');
}

.introduction {
    height: 100%;
    width: 40%;
    left: 40%;
    right: 20%;
    position: relative;
}

.footer {
    position: relative;
    width: 100%;
    height: auto;
    top: 0px;
    padding-top: 20px;
    margin: 20px auto;
    text-align: center;
    color: #757575;
}

h1 {
    padding-left: 16px;
    padding-right: 16px;
}

h2 {
    padding-left: 16px;
    padding-right: 16px;
}

h3 {
    padding-left: 16px;
    padding-right: 16px;
}

p {
    padding-left: 16px;
    padding-right: 16px;
}

@media (max-width: 736px) {
    body {
        padding: 0;
        margin: 0;
    }
    .container {
        height: 100%;
        width: 100%;
        padding-top: 0%;
    }

    .images {
        position: static;
        width: 256px;
        height: 356px;
        margin: auto;
    }

    .introduction {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0;
        margin-top: 0px;
        background-color: #90CAF9;
        border: 1px solid #90CAF9;
    }

    .footer {
        padding-top: 12px;
        padding-bottom: 12px;
        margin: 0px;
        background-color: #212121;
        border: 1px solid #212121;
    }
}

@media only screen and (min-device-pixel-ratio: 2),
       only screen and (-webkit-min-device-pixel-ratio: 2) {
    .logo {
        background-image: url('onesquare_2x.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .download_icon {
        background-image: url('available_app_store_2x.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

@media only screen and (min-device-pixel-ratio: 3),
       only screen and (-webkit-min-device-pixel-ratio: 3) {
    .logo {
        background-image: url('onesquare_3x.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .download_icon {
        background-image: url('available_app_store_3x.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
}
